@font-face {
    font-family: Roboto-Black;
    src: url("../fonts/Roboto-Black.ttf");
}

body {
    /* background-color: gray !important; */
    background-image: url("../imgs/bodySpace.png");
}

#mainContainer {
    min-height: 100vh;
    background-color: #e9e5e1;
    box-shadow: -10px 0 25px black, 10px 0 25px black;
    /* font-family: Roboto-Black !important; */
    font-weight: bold;
}

header {
    padding-top: 30px;
    padding-left: 30px;
    min-height: 164px;
}

#startButton {
    margin-left: auto;
    margin-right: auto;
}

.banner {
    background-image: url("../imgs/banner.png");
    background-repeat: no-repeat, no-repeat;
}

h1 {
    font-family: Roboto-Black;
}

#game {
    position: relative;
    margin-top: 30px;
    min-height: 500px;
    max-height: 500px;
    background-color: black;
    background-image: url("../imgs/space.png");
    box-shadow: -1px -1px 10px black, 1px 1px 10px black;
    border-radius: 5px;
}

#hud {
    padding-top: 10px;
    padding-left: 10px;
    margin-right: 5px;
    font-family: Roboto-Black;
    color: #e9e5e1;
}

.energyHud {
    position: absolute;
    height: 24px;
    width: 240px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #e9e5e1;
    box-shadow: inset 1px 1px 5px black;
}

#energyBar {
    height: 24px;
    width: 240px;
    border-radius: 5px;
    background-color: #f87000;
}

#player {
    position: absolute;
    height: 128px;
    width: 128px;
    top: calc(50% - (128px / 2));
    left: 10%;
    background-image: url("../imgs/Player_size2.png");
}

#blast {
    position: absolute;
    width: 64px;
    height: 38px;
    background-image: url("../imgs/blast_size2.png");
}

#shockWave {
    position: absolute;
    width: 128px;
    height: 128px;
    left: -500px;
    background: transparent url("../imgs/explosion_size2.png") 0 0 no-repeat;
    animation: shockWaveAnimation 0.5s steps(8);
}

@keyframes shockWaveAnimation {
    100% { background-position: -1024px 0;}
}

footer {
    margin-top: 20px;
    font-weight: bold;
}

a {
    color: black !important;
}